#Short script to help you get on-chain historical transactional data using Covalent API ðŸ˜ƒ

 
Covalent is an Unified APi, it contains a vast option of endpoints for various networks.  

You will need to register to get an API-KEY , you can do it here: 
- https://www.covalenthq.com/  

The script is configured to get historical data, its using the endpoint `'transactions_v2'` and other configurations on the url : `'?quote-currency=USD&format=JSON&block-signed-at-asc=false&no-logs=true'`. If you want to change the configurations or try other endpoint or chains, you can check the API documentation here: 
- https://www.covalenthq.com/docs/api/#/0/0/USD/1 
 
list of supported networks in here: 
 - https://www.covalenthq.com/docs/networks/

In [ ]:
import pandas as pd 
import requests


address_list = ['']  # list of addreess you want to get the historical transactional data
api_key = ''  # your covalent API_KEy like 'ckey_0ec0432792...'

session = requests.Session() 
session.auth = (api_key, '')  # you don't need a password 
df = []
df = pd.DataFrame(df)
chain_id = '1' # 1 is the chain_id for ethereum main net 

# URl is configured to not return decoded event logs

for address in address_list: 
  
  response = session.get(f'https://api.covalenthq.com/v1/{chain_id}/address/{address_list}/transactions_v2/?quote-currency=USD&format=JSON&block-signed-at-asc=false&no-logs=true')
  trx = pd.DataFrame(data = response.json()['data']['items'])
  df = pd.concat([df,trx])

df = df.reset_index(drop= True)
df

## example of output:

,block_signed_at,block_height,tx_hash,tx_offset,successful,from_address,from_address_label,to_address,to_address_label,value,value_quote,gas_offered,gas_spent,gas_price,fees_paid,gas_quote,gas_quote_rate
0,2021-03-13T03:26:32Z,12027727,0x90443eee39efe210693935393982754be5b64b00849c...,121,True,0x65cac1fc7489f7b08156e2e95db4cb35c7c29b4f,None,0x7d655c57f71464b6f83811c55d84009cd9f5221c,None,0,0.000000,1252500,1020194,148000000000,None,272.124254,1802.282104
1,2020-12-01T20:29:17Z,11368848,0xe844711c4c8ea8c1600c414561920582918e234c65da...,11,True,0x58970d151760540a2914b0829b26334a05662268,None,0xa5025faba6e70b84f74e9b1113e5f7f4e7f4859f,None,90000000000000000,55.190858,4231643,3558410,21900000000,None,47.788647,613.231750
2,2020-11-18T18:32:30Z,11283551,0x5a1860cc5c8ba7ebb8f6873b51c5a02f941490e65c2d...,32,True,0x58970d151760540a2914b0829b26334a05662268,None,0xa5025faba6e70b84f74e9b1113e5f7f4e7f4859f,None,90000000000000000,42.768476,3598670,2903954,62000000000,None,85.558407,475.205292
3,2020-10-08T17:41:58Z,11016296,0x4dff354144bb9f7c5ba69c7059fca1ec4c6047022c79...,25,True,0xe8c904dc650e6fcb3fe39cc82b40bd897c83d8fa,None,0x6b175474e89094c44da98b954eedeac495271d0f,None,0,0.000000,100000,52018,134399999999,None,2.398225,343.033936
4,2020-10-07T15:42:06Z,11009454,0x9afef918dba82304a82de6a008b55f9d89ec1d73f63f...,8,True,0xe8c904dc650e6fcb3fe39cc82b40bd897c83d8fa,None,0xe4101d014443af2b7f6f9f603e904adc9faf0de5,None,0,0.000000,100000,52215,114800000000,None,2.034557,339.416290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2018-08-15T15:26:32Z,6152587,0x45dd2abeaa57a1e587e453b2ed20e6b8237f6f5eb843...,69,True,0x2ae09febfd8a811207a378b142d74ffd23073610,None,0x3c761f71c9bbffcffda70d76d6075384d9e686f2,None,68130000000000000,18.993986,21000,21000,12000000000,None,0.070255,278.790344
81,2018-08-15T15:20:45Z,6152564,0x81148ee7b44b95129f4d71c676458ea5e5adbcdf78dc...,51,True,0x2ae09febfd8a811207a378b142d74ffd23073610,None,0x97b1f9bb0e667df623e9783b57b274030326e8e5,None,67900000000000000,18.929864,21000,21000,19000000000,None,0.111237,278.790344
82,2018-08-13T18:47:30Z,6141500,0x72a4bdeeec7ad2db282e6a3860507dda648cfabaf682...,13,True,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,None,0x2ae09febfd8a811207a378b142d74ffd23073610,None,363639420000000000,104.244573,21000,21000,65000000000,None,0.391305,286.670166
83,2018-04-16T17:40:26Z,5452139,0x96a557fad60ef2d2262735b6ada0f0bd80b5d9e92d69...,45,True,0x2ae09febfd8a811207a378b142d74ffd23073610,None,0x5ca7099611020d9234c7191c7b066779128e715c,None,0,0.000000,150000,92201,1000000000,None,0.048078,521.448303
84,2018-04-16T17:31:28Z,5452108,0x8ee05666c1a20905dd09b5ecd820673e19d2fef0411d...,51,True,0xbfcaaff509940ac5ddd4fdb654d0a651c5b87298,None,0x851ba7347b3d7f873267fe597c8efd187de29a77,None,0,0.000000,3000000,629765,2000000000,None,0.656780,521.448303